/* yanone-kaffeesatz-300 - latin_cyrillic */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-300.svg#YanoneKaffeesatz') format('svg'); /* Legacy iOS */
}
/* yanone-kaffeesatz-regular - latin_cyrillic */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-regular.svg#YanoneKaffeesatz') format('svg'); /* Legacy iOS */
}
/* yanone-kaffeesatz-500 - latin_cyrillic */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-500.svg#YanoneKaffeesatz') format('svg'); /* Legacy iOS */
}
/* yanone-kaffeesatz-700 - latin_cyrillic */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/yanone-kaffeesatz-v18-latin_cyrillic-700.svg#YanoneKaffeesatz') format('svg'); /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 500;
}


/* Анимация элементов списка */
.task-item-enter {
  opacity: 0;
  transform: translateY(15px);
}
.task-item-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 500ms ease-in;
}
.task-item-exit {
  opacity: 1;
  transform: translateY(-15px);
}
.task-item-exit-active {
  opacity: 0;
  transform: translateY(0px);
  transition: all 500ms ease-in;
}

/* Анимация перехода страниц */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.card-enter {
  transform: rotateY(-90deg);
}

.card-enter-active {
  transform: rotateY(0deg);
  transition: all 500ms ease-in;
}

.card-exit {
  transform: rotateY(0deg);
}

.card-exit-active {
  transform: rotateY(90deg);
  transition: all 500ms ease-in;
}

/*
.page-enter-active {
  animation: fade-in 500ms ease-in;
  /*opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease-in;
}

.page-exit-active {
  animation: fade-out 500ms ease-in;

  opacity: 0;
  transform: translateX(100%);
  transition: all 500ms ease-in;
  animation: fade-out 500ms ease-in;
}
*/

.fade-enter{
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active{
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit{
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active{
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active,
.fade-exit-active{
  transition: all 500ms;
}